{% extends "layout.html" %}
{% block body %}
<div class="about-section">
    <h2>About</h2>
    <p>
      ¡Bienvenido a nuestra calculadora en línea! Somos un equipo apasionado por las matemáticas y hemos desarrollado esta calculadora para brindarte una herramienta fácil de usar y conveniente.
    </p>
    <p>
      Nuestra calculadora te permite realizar operaciones matemáticas básicas, como sumar, restar, multiplicar y dividir. También puedes utilizarla para calcular porcentajes, raíces cuadradas y otras operaciones comunes.
    </p>
    <p>
      Nos hemos esforzado por diseñar una interfaz intuitiva y amigable, para que puedas realizar tus cálculos de manera rápida y eficiente. Además, hemos implementado funcionalidades adicionales, como el uso de teclado y la posibilidad de realizar cálculos con decimales.
    </p>
    <p>
      En nuestra página web, podrás encontrar botones claros y sencillos de usar, así como un campo de entrada donde podrás ingresar tus expresiones matemáticas. Al presionar el botón de igual (=), verás el resultado de tu cálculo en el campo de salida.
    </p>
    <p>
      Valoramos tu privacidad y seguridad. No almacenamos ni compartimos ninguna de tus expresiones matemáticas o resultados. Puedes utilizar nuestra calculadora de forma confiable y estar seguro de que tus datos permanecerán en privado.
    </p>
    <p>
      Esperamos que encuentres nuestra calculadora útil y que te ayude en tus tareas diarias, estudios o proyectos. ¡Disfruta de la precisión y la comodidad de nuestras funciones de cálculo!
    </p>
    <p>
      Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto con nosotros a través de la sección de contacto. ¡Gracias por visitarnos y esperamos que disfrutes de nuestra calculadora en línea!
    </p>
  </div>


  {% endblock %}
  