{% extends "layout.html" %}

{% block body %}


<div class="big-container">
    <input type="text" id="inputField" readonly>
    <div class="calculator">
    
    <button class="btn btn-secondary button">*</button>
    <button class="btn btn-secondary button">/</button>
    <button class="btn btn-danger delete">Delete</button>
    
    <button class="btn btn-secondary button">**2</button>
    <button class="btn btn-primary button">7</button>
    <button class="btn btn-primary button">8</button>
    <button class="btn btn-primary button">9</button>
    <button class="btn btn-secondary button">+</button>
    <button class="btn btn-primary button">4</button>
    <button class="btn btn-primary button">5</button>
    <button class="btn btn-primary button">6</button>
    <button class="btn btn-secondary button">-</button>
    <button class="btn btn-primary button">1</button>
    <button class="btn btn-primary button">2</button>
    <button class="btn btn-primary button">3</button>
    <button class="btn btn-success intro">Intro</button>

</div>
</div>

{% endblock %}